.banerImageConatiner{
    background-image:url('../assets/Images/table.jpg');
    width:100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banerImage{
    background-color: rgba(0, 0, 0, 0.553);
    width: 100%;
    height: 100%;
    color: white;
}
.banerImage p{
    text-align: center;
    padding-top: 180px;
    font-size: 35px;
}