.cartProductDetailsContainer{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: white;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
}
.cartConatiner{
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: rgba(240, 248, 255, 0.749);
}
.cartProductsDetails{
    width: 70%;
}
.cartProductDetailsImage{
    width: 30%;
}
.cartProductDetailsImage img{
    width: 400px;
}
.cartProdctDetails p{
    margin-top: 80px;
}
.cartProdctPrice{
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    color: gray;
}
.productTotalPrice{
    font-weight: bold;
    color:rgb(1, 52, 62);
}
.cartDetailsRemoveBtn{
    position: absolute;
    top: 25px;
    right: 20px;
}
.cartDetailsRemoveBtn button{
    background-color: white;
    border: none;
    font-size: 30px;
}
.cartDetailsQuantityBtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 75px;
    right: 20px;
}
.cartDetailsQuantityIncBtn{
    background-color: white;
    border: 1px solid gray;
    font-size: 25px;
    padding: 0px 10px;
    border-radius: 5px;
}
.cartDetailsQuantityDceBtn{
    background-color: rgba(128, 128, 128, 0.095);
    border: none;
    font-size: 25px;
    padding: 0px 10px;
    border-radius: 5px;
}
.cartSummaryDetails{
    background-color: white;
    width: 29%;
    margin:20px;
    margin-top: 40px;
    border-radius: 10px;
    padding: 20px;
}
.noProdctsContainer{
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: rgba(240, 248, 255, 0.749);
}
.noProdctsText{
    background-color: white;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 10px;
    border-radius: 10px;
    width: 68%;
    height: 150px;
}