.shopeFilterSearchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}
.shopSearchContainer{
    position: relative;
}
.shopSearchContainer input{
    width:650px ;
    height: 40px;
    border: none;
    border-radius: 18px;
    background-color: rgba(128, 128, 128, 0.212);
    padding: 20px;
    color: black;
}
.shopeFilterSearchContainer button{
    position: absolute;
    right: 10px;
    top: 5px;
    border: none;
    background-color: transparent;
    font-size: 20px;
}
.shopFilterContainer {
  display: inline-block;
}
.shopFilterContainer option{
    background-color: white;
    color: black;
}
.shopFilterContainer select{
  background-color: navy;
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  color: white;
} 